<app-layout>
  <h1 class="text-3xl font-bold">
    Einstellungen
  </h1>
  <table>
    <tbody>
      <tr>
        <td class="p-2">
          <button>
            <app-light-theme-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          <button>
            <app-dark-theme-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          Farbschema
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <button>
            <app-slow-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          <button>
            <app-fast-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          Sprachgeschwindigkeit
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <button>
            <app-magnifier-minus-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          <button>
            <app-magnifier-plus-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          Textgrösse
        </td>
      </tr>
    </tbody>
  </table>
</app-layout>
