<app-layout>
  <h1 class="text-3xl font-bold">
    Einstellungen
  </h1>
  <table>
    <tbody>
      <tr>
        <td>
          <button (tap)="setTheme(Theme.LIGHT)"
                  class="p-1 rounded outline-1"
                  [ngClass]="{ 'outline': isTheme(Theme.LIGHT) | async }">
            <app-light-theme-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td>
          <button (tap)="setTheme(Theme.DARK)"
                  class="p-1 rounded outline-1"
                  [ngClass]="{ 'outline': isTheme(Theme.DARK) | async }">
            <app-dark-theme-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          Farbschema
        </td>
      </tr>
      <tr>
        <td>
          <button (tap)="setRate(Rate.SLOW)"
                  class="p-1 rounded outline-1"
                  [ngClass]="{ 'outline': isRate(Rate.SLOW) }">
            <app-slow-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td>
          <button (tap)="setRate(Rate.FAST)"
                  class="p-1 rounded outline-1"
                  [ngClass]="{ 'outline': isRate(Rate.FAST) }">
            <app-fast-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          Sprachgeschwindigkeit
        </td>
      </tr>
      <tr>
        <td>
          <button class="p-2">
            <app-magnifier-minus-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td>
          <button class="p-2">
            <app-magnifier-plus-icon [width]="'w-6'" [height]="'h-6'"/>
          </button>
        </td>
        <td class="p-2">
          Textgrösse
        </td>
      </tr>
    </tbody>
  </table>
</app-layout>
