<app-info [hidden]="hidden"
          [maxWidth]="maxWidth"
          [insetX]="'inset-x-2'"
          [bottom]="'bottom-24'"/>
<footer class="fixed mx-auto flex justify-around bg-black text-white py-4"
        [ngClass]="[maxWidth, insetX, bottom]">
  <a [routerLink]="'/'">
    <app-home-icon
      [width]="'w-14'"
      [height]="'h-14'"/>
  </a>
  <a [routerLink]="'/scanner'">
    <app-qr-icon
      [width]="'w-14'"
      [height]="'h-14'"/>
  </a>
  <button (click)="toggleHidden()">
    <app-info-icon
      [width]="'w-14'"
      [height]="'h-14'"/>
  </button>
</footer>
