<div class="max-w-screen-sm mx-auto fixed bottom-24 left-4 right-4 border border-2 border-black bg-white shadow-xl p-2">
  <ul>
    <li>
      <div class="flex gap-1">
        <app-click-icon [width]="'w-6'" [height]="'h-6'"/>
        <span class="font-bold">Klicken</span>
      </div>
      {{ textClick }}
    </li>
    <hr>
    <li>
      <div class="flex gap-1">
        <app-arrow-left-icon [width]="'w-6'" [height]="'h-6'"/>
        <span class="font-bold">Nach links streichen</span>
      </div>
      {{ textLeft }}
    </li>
    <hr>
    <li>
      <div class="flex gap-1">
        <app-arrow-right-icon [width]="'w-6'" [height]="'h-6'"/>
        <span class="font-bold">Nach rechts streichen</span>
      </div>
      {{ textRight }}
    </li>
    <hr>
    <li>
      <div class="flex gap-1">
        <app-arrow-up-icon [width]="'w-6'" [height]="'h-6'"/>
        <span class="font-bold">Nach oben streichen</span>
      </div>
      {{ textUp }}
    </li>
    <hr>
    <li>
      <div class="flex gap-1">
        <app-arrow-down-icon [width]="'w-6'" [height]="'h-6'"/>
        <span class="font-bold">Nach unten streichen</span>
      </div>
      {{ textDown }}
    </li>
  </ul>
</div>
